.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-gap: 16px;
    padding: 76px 48px 0;
}

@media screen and (max-width: 960px) {
    .photo-grid {
        padding: 76px 24px 0;
    }
}

@media screen and (max-width: 560px) {
    .photo-grid {
        grid-gap: 12px;
        padding: 51px 16px 0;
    }
}
