.places__url {
    font-size: 12px;
    line-height: 1.7;
    margin: 0 0 12px;
}

@media screen and (max-width: 960px) {
    .places__url {
        line-height: 1;
    }
}

@media screen and (max-width: 740px) {
    .places__url {
        padding-left: 16px;
    }
}
