.page {
    background-color: #2A2C2F;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter';
}

.header {
    max-width: 95%;
    min-height: 52px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 0px;
    align-items: flex-end;
}

.header__logo {
    max-width: 176px;
    max-height: 52px;
    display: flex;
}

.header__lang-link {
    color: white;
    font-size: 24px;
    line-height: 0.8;
    width: 30px;
    text-decoration: none;
}

.header__lang-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.header__lang-list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header__lang-link:focus {
    text-decoration: underline;
}

.header__lang-link:hover {
    text-decoration: underline;
}

.lead {
    max-width: 75%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 92px;
    ;
}

.lead__illustration {
    max-width: 100%;
}

.lead__title {
    text-align: center;
    max-width: 720px;
    max-height: 200px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 0.96;
    color: white;
    margin: 56px auto 32px;
}

.lead__subtitle {
    color: white;
    max-width: 640px;
    max-height: 72px;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 64px;
}

.lead__caption {
    color: white;
    font-size: 10px;
    line-height: 1.4;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    max-width: fit-content;
    text-transform: uppercase;
    margin-left: 0;
    margin-top: 8px;
    padding: 0;
}

.intro {
    max-width: 75%;
    margin: auto;
}

.intro__title {
    color: white;
    padding: 0;
    margin: 0;
    max-width: 690px;
    font-size: 54px;
    line-height: 1.07;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
}

.intro__text {
    color: white;
    padding: 0;
    max-width: 690px;
    margin: 40px 0 33px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.intro__list {
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.photo-grid {
    max-width: 95%;
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 16px;
    box-sizing: border-box;
}

.photo-grid__pic {
    max-width: 100%;
}

.places {
    color: white;
    max-width: 984px;
    margin: 0 auto 0;
}

.places__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 92px;
}

.places__title {
    font-family: 'Inter';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.05;
    display: inline-block;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.places__website-container {
    max-width: 460px;
    align-self: flex-end;
}

.places__url {
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.places__link {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: white;
}

.places__image {
    max-width: 460px;
}

.places__description-container {
    max-width: 484px;
    padding: 0;
    margin: 0;
}

.places__description {
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.places__description:first-child {
    margin-bottom: 26px;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1164px;
    min-height: 740px;
    background: url(./images/cover-trains.jpg);
    margin: 92px auto 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover__link {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.cover::after {
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}

.cover:hover::after {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    margin: 0;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    z-index: 1;
    color: white;
}

.cover__descriprion {
    max-width: 360px;
    margin: 32px 0px 0px;
    font-size: 18px;
    line-height: 1.2;
    z-index: 1;
    text-align: center;
    color: white;
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 92px 48px 24px;
}

.footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.footer__list-nav {
    margin-right: 18px;
}

.footer__list-nav:last-child {
    margin-right: 0px;
}

.footer__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    display: flex;
    text-decoration: none;
    color: white;
}

.footer__copyright {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    display: flex;
    margin: 0px;
    align-content: flex-end;
}