.places__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
}

@media screen and (max-width: 960px) {
    .places__title {
        max-width: 330px;
        font-size: 42px;
        line-height: 1.10;
    }
}

@media screen and (max-width: 740px) {
    .places__title {
        width: 90%;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px 32px;
    }
}

@media screen and (max-width: 420px) {
    .places__title {
        font-size: 32px;
    }
}
