.cover {
    margin: 90px 48px 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 90px 0 0;
        padding: 0;
    }
}

@media screen and (max-width: 760px) {
    .cover {
        margin: 66px 0 0;
    }
}
